html {
    background-color: darkgrey;
    height: 100%;
}

body {
    background-color: darkslategrey;
    padding: 30px;
    margin: 0 auto;
    color: ghostwhite;
    width: 60%;
    height: 100%;
}

p {
    margin: 0 15px;
}

.attribuut {
    color: darkorange;
    font-weight: bold;
}

.element {
    color: deepskyblue;
    font-weight: bold;
}

.value {
    color: royalblue;
    font-weight: bold;
}
